footer.contact {
  background: url('./The Band PSD/The Band PSD-assets/Contact.png') var(--brown-light);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70vh;
  background-position: center;
}


footer.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--oswald-family);
  background: none;
  justify-content: space-around;
  height: 100%;
}

footer.contact h1 {
  color: var(--black-col);
  font-size: 2.5em;
  margin-top: 50px;
}

footer.contact a.telephone {
  text-decoration: none;
  color: var(--brown-light);
  font-size: 2em;
  font-weight: bold;
  border-bottom: 3px dotted var(--brown-light);
  padding: 10px 30px;
  display: block;
  /* width: 100%; */
  text-align: center;
}

footer.contact .subscribe {
  display: flex;
}

footer.contact form {
  display: flex;
  justify-content: center;
  background: var(--black-col);
}

footer.contact form button{
  color: var(--brown-light);
  padding: 4px 20px;
  background: var(--black-col);
  border: 3px solid var(--black-col);
  font-family: var(--oswald-family);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1em;
}

footer.contact form input{
  font-size: 1em;
  border: 3px solid var(--black-col);
  font-family: var(--oswald-family);
  padding-left: 10px;
  transition: background 500ms ease;
}

footer.contact form input:focus {
  border: 3px solid var(--black-col);
  outline: none;
  background: var(--black-col);
  color: var(--brown-light);
  transition: background 500ms ease;
}

footer.contact .underworld {
  display: flex;
}
footer.contact .social {
  /* margin-left: 20px; */
}

footer.contact .social i{
  margin-left: 20px;
  font-size: 2em;
  color: var(--black-col);
}

footer.contact nav a, footer.contact .underworld h4 {
  color: var(--brown-light);
}
