section.tours, section.tours .container {
  background: var(--brown-light);
}

.tours h2{
  font-family: var(--oswald-family);
  font-weight: lighter;
  text-align: center;
}

.tours .container {
  display: flex;
  flex-direction: column;
}

.tours .tabloList {
  font-family: var(--lora-family);
  color: var(--brown-col);
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.tours #tabloList {
  transform: rotate(-90deg);
  position: relative;
}

.tours .tabloList li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  position: relative;
}
.tours .tabloList li .state, .tours .tabloList li .place {
  padding: 5px;
}

.tours .tabloList li::after {
  content: ' ';
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: -16px;
  background: var(--brown-col);
}

.tours .tabloList li::before {
  content: ' ';
  position: absolute;
  display: block;
  width: 2px;
  height: 100%;
  top: 0%;
  right: -12px;
  background: var(--brown-dark);
}

.arrow img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.arrow-right {
  transform: rotate(180deg);
}

.today {
  color: var(--black-col);
}

.tours .tabloList li.today::after {
  background: var(--black-col);
}

.yesterday {
  color: var(--brown-dark);
}

.tours .tabloList li.yesterday::after {
  background: var(--brown-dark);
}

.future {
  color: var(--brown-col);
}

.tours .tabloList li.future::after {
  background: var(--brown-col);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--brown-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--brown-col);
}

#ticketList {
  /* background: red; */
  width: 700px;
  margin: auto;
  font-family: var(--oswald-family);
  height: 150px;
  overflow-y: scroll;

  margin-bottom: 20px;
}

#ticketList li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted var(--brown-col);
  padding: 10px;
  color: var(--black-col);
  /* border-style: dotted; */
  /* align-items: stretch; */
}

#ticketList h3.place {
  text-align: left;
  padding: 5px;
  width: 100%;
  font-weight:lighter;
  border-left: 4px solid var(--brown-dark);
}

#ticketList .date {
  padding-right: 15px;
  width: 100px;
  display: inline-grid;
  /* grid-template-rows: 2fr 1fr; */
  /* grid-template: 1fr 1fr/ 1fr 1fr; */
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;

  font-weight: bold;
}

#ticketList .date span:nth-child(1) {
  grid-area: 1 / 1 / 3 / 1;
  /* align-items: center; */
  align-self: center;
  /* place-self: stretch center; */
  /* background: red; */
  /* color: yellow; */
  font-size: 2.7em;
  /* background: green; */
}

#ticketList .date span:nth-child(2) {
  align-self: end;
  /* justify-content: center; */
  text-transform: uppercase;
  /* color: red; */
  /* background: blue; */
}
#ticketList .date span:nth-child(3) {
  align-self: start;
  justify-content: center;
  /* color: yellow; */
  /* background: purple; */
}

#ticketList button {
  cursor: pointer;
  width: 200px;
  border: none;
  background: var(--brown-col);
  color: white;
  font-family: var(--oswald-family);
  text-transform: uppercase;
  /* padding: 2px 10px; */
  margin: 15px 10px;
  font-size: 1.2em;
}
