section.about {
  background: var(--brown-light);
}

section.about .container {
  background: var(--brown-light);
  position: relative;
}

.arrow img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.arrow-right {
  transform: rotate(180deg);
}

.container figure.musician-img {
  position: relative;
  transition: 1s transform;
}

figure .img {
  content: '';
  display: block;
  width: 100%;
  height: 100vh;
  filter: sepia(100%);
  background-image: url('https://source.unsplash.com/JTa5MN7ObbM/1600x900');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* transition:  1s animation; */
  /* transition: animation; */
  animation: mus 2s;
}
@keyframes mus {
  0% {transform:translateX(-200px);}
  100% {transform:translateX(0px);}

}

figure.musician-img figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brown-light);
  opacity: .6;
}

.musicians {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.musicians .info {
  display: grid;
  grid-template: auto auto 2fr / 1fr 1fr;
  grid-gap: 20px 10%;
  justify-content: center;
  align-content: center;
  }

.musicians .fullname {
  grid-area: 3 / 1 / 4 / 2;
}

.musicians .list-name {
  grid-area: 1 / 2 / 2 / 3;
}

.musicians .info h3 {
  grid-area: 2 / 2 / 3 / 3;
}

.musicians .info p {
  grid-area: 3 / 2 / 4 / 3;
}

.musicians .fullname h1{
  font-family: var(--oswald-family);
  font-size: 3.5em;
  text-align: center;
  text-transform: uppercase;
}

.musicians .fullname h1:nth-child(1) {
  color: var(--brown-col);
}

.musicians .fullname h1:nth-child(2) {
  color: var(--black-col);
}

.musicians .list-name {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  justify-content: center;
  align-content: center;
  grid-row-gap: 10px;
  text-transform: uppercase;
  font-family: var(--oswald-family);
  font-weight: bold;
  font-size: 0.8em;
  color: var(--brown-dark);
  font-weight: bold;
  background: rgba(255,255,255,.5);
  /* transform: rotate(-90deg); */
  box-shadow: 0px 0px 80px 30px rgba(255,255,255,.5);
  border: none;
  padding: 20px;
}

.musicians .list-name .name {
  align-self: center;
  justify-self: right;
}

.musicians .list-name .active {
  color: var(--brown-col);
  /* transition: 1s; */
  animation: lname 1s .2s;
}
@keyframes lname {
  0% {transform:translateX(-200px);}
  100% {transform:translateX(0px);}

}

.musicians .list-name .active.circle {
  background-color: var(--brown-col);
}

.musicians .list-name .instrument {
  align-self: center;
  justify-self: left;
}

.musicians .list-name .circle {
  align-self: center;
  justify-self: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--brown-dark);
}

.musicians .info h3 {
  font-family: var(--oswald-family);
  color: var(--black-col);
  text-align: center;
  font-size: 1.5em;
}

.musicians .info p {
  line-height: 1.6;
  margin: 0 20px;
  color: var(--black-col);
}
