section .container header {
  background-attachment: fixed;
  scroll-behavior: smooth;
  overflow: auto;
}

.authentication {
  z-index: 1;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
}

.authentication .container {
  box-shadow: none;
}

.authentication main {
  font-family: var(--oswald-family);
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 30px;
}

:root {
  --auth-proportion: 4em;
}


.authentication main button{
  background: var(--brown-col);
  color: var(--brown-light);
  /* color: white; */
  margin: 10px;
  padding: 0px;
  width: calc(var(--auth-proportion)*0.7);
  height: calc(var(--auth-proportion)*0.7);
  font-size: calc(var(--auth-proportion));
  border: none;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.authentication main button i:nth-of-type(2){
  color: var(--brown-dark);
  /* opacity: 0.5; */
  position: absolute;
  font-size: calc(var(--auth-proportion)*.6);
}

header h1 {
  text-align: center;
  margin-top: 20px;
}

.panel {
  font-family: var(--oswald-family);
  background: rgba(255, 255, 255, 0.5);
  padding: 1em;
  margin: 2em;
}

.tourPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.tourPanel #tourAdd {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.tourPanel #tourAdd input
, .tourPanel #tourAdd button
{
  padding: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1em;
}

ul#tourList {
  list-style: none;
  background: white;
}

#tourList li{
  display: flex;
  margin: 10px;
}

#tourList li span{
  width: 200px;
}
